name: Build & Release

on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.200'

      - name: Restore dependencies
        run: dotnet restore

      - name: Build ChipEightEmulatorGUI
        run: dotnet publish ChipEightEmulatorGUI/ChipEightEmulatorGUI.csproj -c Release -r win-x64 --self-contained true /p:PublishSingleFile=true -f net9.0-windows10.0.19041.0

      - name: Archive build
        run: |
          mkdir release
          $publishDir = Get-ChildItem -Path "ChipEightEmulatorGUI\bin\Release" -Directory -Recurse | Where-Object { $_.Name -eq "publish" } | Select-Object -First 1
          Copy-Item "$($publishDir.FullName)\*" release\
          powershell Compress-Archive -Path release\* -DestinationPath release.zip
      
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: release.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
